<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <!-- Title and Description -->
    <title>{{ page_title }} | {{ shop.name }}</title>
    <meta name="description" content="{{ page_description }}">

      <!-- SEO Meta Tags -->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="max-image-preview">
    <meta name="author" content="{{ shop.name }}">

      <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/png">
    <meta property="og:url" content="{{ canonical_url | default: shop.url }}">
    <meta property="og:site_name" content="{{ shop.name }}">
    <meta property="og:locale" content="{{ request.locale.iso_code }}">

      <!-- Theme Colors -->
    <meta name="theme-color" content="#FF0034">
    <meta name="msapplication-TileColor" content="#FF0034">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

      <!-- Application Meta Tags -->
    <meta name="application-name" content="{{ shop.name }}">
    <meta name="apple-mobile-web-app-title" content="{{ shop.name }}">

      <!-- Favicons -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ 'favicon.ico' | asset_url }}">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ 'favicon-16x16.png' | asset_url }}">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ 'favicon-32x32.png' | asset_url }}">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ 'apple-touch-icon.png' | asset_url }}">
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ 'android-chrome-192x192.png' | asset_url }}">
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="{{ 'android-chrome-512x512.png' | asset_url }}">
    <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">

    {{ 'index.css' | asset_url | stylesheet_tag }}

    <style > :root
    {
      --cor-branco: #ffffff;
      --cor-preto: #000000;

      --cor-gelo: #F2F3F8;
      --cor-cinza: #C2C2C2;
      --cor-marca: #FF0033;
      --cor-verde: #1CB744;
      --cor-verde-claro: #E8F8EC;

      --f0: clamp(0.5rem, 1vw, 0.7rem);
      --f1: clamp(0.7rem, 1vw, 0.9rem);
      --f2: clamp(0.9rem, 1vw, 1.1rem);
      --f3: clamp(1.1rem, 1vw, 1.3rem);
      --f4: clamp(1.3rem, 1vw, 1.5rem);
      --f5: clamp(1.5rem, 1vw, 1.8rem);
      --f6: clamp(1.8rem, 1vw, 2.2rem);
      --f7: clamp(2.2rem, 1vw, 2.5rem);
      --f8: clamp(3rem, 1vw, 4rem);
    }
  </style>

  {{ content_for_header }}
</head>
<body>
  {% render 'alerta' %}
  {% render 'carrinho' %}
  {% section 'nav' %}

  <main>
    {% if request.path contains '/policies/' %}
      {% section 'documento' %}
    {% else %}
      {{ content_for_layout }}
    {% endif %}
  </main>

  {% section 'footer' %}

</body></html>
